@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="card mx-auto" style="width: 400px; margin-top: 100px;">
        <div class="card-body">
            <h4 class="text-center">Restablecer Contraseña</h4>
            <hr />
            <form action="/Login/ActualizarPassword" method="post">
                <div class="mb-3">
                    <label>Correo electrónico:</label>
                    <input type="email" name="email" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label>Código Token:</label>
                    <input type="text" name="token" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label>Nueva Contraseña:</label>
                    <input type="password" name="nuevaPassword" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-success w-100">Actualizar ahora</button>
            </form>

            @if (ViewBag.Error != null)
            {
                <div class="alert alert-danger mt-3">@ViewBag.Error</div>
            }
        </div>
    </div>
</body>
</html>